body{
    background: rgb(7, 13, 37);
    background: -webkit-linear-gradient(bottom left, rgb(203, 5, 221), #00033D);
    background: -ms-linear-gradient(bottom left, rgb(211, 4, 142), rgb(5, 4, 71));
    background: linear-gradient(to top right, rgb(44, 4, 71), rgb(5, 4, 71));
}

#root {
    min-height: 1000px;
}

.text-z {
    color: rgb(0, 14, 206);
    filter: drop-shadow(3px 0 0 rgb(209, 217, 228)) 
    drop-shadow(0 3px 0 rgb(197, 206, 255)) 
    drop-shadow(-3px 0 0 rgb(197, 206, 255)) 
    drop-shadow(0 -3px 0 rgb(197, 206, 255)) 
}

.orbitron-title {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.orbitron-text {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.headerbg{
    background-color: #00033D;
    height: 400px; 
    z-index: 99999;
}

.header {
    background-image: url('/bg6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cardbg{
    background: rgb(8, 45, 194);
    background: -webkit-linear-gradient(bottom left, rgb(203, 5, 221), #030cbb);
    background: -ms-linear-gradient(bottom left, rgb(211, 4, 142), rgb(10, 6, 228));
    background: linear-gradient(to top right, rgb(44, 4, 71), rgb(17, 14, 146));
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.formbg{
    background: rgb(5, 15, 53);
    background: -webkit-linear-gradient(bottom left, rgb(14, 4, 112), #00033D);
    background: -ms-linear-gradient(bottom left, rgb(4, 15, 78), rgb(27, 4, 71));
    background: linear-gradient(to top right, rgb(24, 6, 75), rgb(36, 5, 121));
}

.transparent-element {
    opacity: 0.8;
}

.formbgmodal {
    background: rgb(7, 13, 37, 0.8);
}

.hrx {
    border: 2px solid #a307c2;  
    width: 90%;             
    margin: 20px auto;      
}

.hrx1 {
    border: 2px solid #308aff;  
    width: 100%;             
    margin: 20px auto;       
    filter: drop-shadow(3px 0 0 rgb(255, 255, 255)) 
    drop-shadow(0 3px 0 rgb(255, 255, 255)) 
    drop-shadow(-3px 0 0 rgb(197, 206, 255)) 
    /* drop-shadow(0 -3px 0 rgb(255, 255, 255))  */
}